@{
    ViewBag.Title = "Simple Character Creater";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Title.<br /></h1>
                    <h2>@ViewBag.Message</h2>
                </hgroup>
            <div class="bar"></div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at risus tempus, aliquet metus eget, condimentum urna.
                    Nam id sollicitudin neque, ultricies blandit sem. Sed pretium nec nunc sit amet rhoncus. Aenean ac rhoncus justo. Aenean
                    nec convallis tortor. Nam in justo massa. Morbi viverra orci vitae varius malesuada. Suspendisse potenti. Vestibulum
                    sagittis ante mi, non fringilla dui consequat et.
                </p>
        </div>
    </section>
}
<ol class="round">
    <li >
        <h4>This will be about the service</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at faucibus nisl, vitae fringilla nulla. 
        Vestibulum pulvinar aliquam dui, at laoreet enim tempus id. Nunc congue ligula massa, nec lobortis nisl consequat ut. 
        Nam blandit, tellus a lacinia porttitor, orci augue cursus turpis, pellentesque euismod odio tortor a urna.
        <a href="CharCrt/AbilityStat">Learn more…</a>
    </li>

    <li >
        <h4>Look through sample sheets</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at faucibus nisl, vitae fringilla nulla.
        Vestibulum pulvinar aliquam dui, at laoreet enim tempus id. Nunc congue ligula massa, nec lobortis nisl consequat ut. 
        <a href="#">Learn more…</a>
    </li>

    <li >
        <h4>Log in/account stuff</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at faucibus nisl, vitae fringilla nulla.
        Vestibulum pulvinar aliquam dui, at laoreet enim tempus id. Nunc congue ligula massa, nec lobortis nisl consequat ut. 
        <a href="#">Learn more…</a>
    </li>
</ol>
